@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');

@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  background:#F4F0E8;
  color:#111111;
  font-family:'Inter', sans-serif;
  overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family:'Cormorant Garamond', serif;
  font-weight:600;
}

*{
  box-sizing:border-box;
}

::selection{
  background:#d7c7a3;
  color:black;
}